.vscode
.lake
.euclid_bundle.icn

# LaTeX auxiliary / build files (PDFs are kept)
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.lot
*.lol
*.nav
*.out
*.ps
*.run.xml
*.snm
*.synctex*
*.thm
*.toc
*.vrb
*.xdv
_minted-*
